---
---

@import "minima";

img {
  max-width: 220px;
  border-radius: 8px;
}

h1, h2, h3 {
  margin-top: 1.5rem;
}

.wrapper {
  max-width: 900px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
